
# HTID:9485332: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:9485332:
